.search {
  display: flex;
  flex-direction: column;
  // height: 340px;
  width: 100%;
  transform: all 1s;
  &-container {
    margin-top: 20px;
    padding-right: 10px;

    .ant-list-item {
      cursor: pointer;
      padding-left: 12px;
      padding-right: 12px;
      &:hover {
        background-color: #ddd;
      }
    }
  }
  &-list {
    &-item {
      &--title {
        width: 80%;
      }
    }
  }
  &-footer {
    height: 32px;
    line-height: 32px;
  }
}
